<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="main-header">
        <div class="logo">
            <a href="/">
                <h1>Course.com</h1>
            </a>
        </div>

        <div class="login-container">
            {% if session.get('user') %}
            <div class="user-box">
                <a href="{{ url_for('account') }}">
                    <img src="{{ url_for('static', filename='ph1.jfif') }}" alt="Profile" class="profile-img">
                </a>
                <a href="{{ url_for('logout') }}" class="logout-btn">logout</a>
            </div>
            {% else %}
            <a href="{{ url_for('login') }}" class="login-btu">login</a>
            <a href="{{ url_for('signup') }}" class="login-btu">signup</a>
            {% endif %}
        </div>
    </header>

    <main class="Class">
        <section>

            <div>
                <h2>Encryption</h2>
                <video autoplay loop muted playsinline class="video"
                    src="{{ url_for('static', filename='v/c4.mp4') }}"></video>
            </div>
        </section>

        <hr>

        <section>
            <h3>Description</h3>
            <p>Welcome to the world of cryptography, the science that holds the secrets of the digital world. In this
                course, we'll delve into the history of cryptography, from ancient times to the modern era, and explore
                the algorithms that safeguard our data today. You'll learn how plain text is transformed into
                unbreakable code, and how the encryption technologies the world relies on to protect privacy and
                security work.
            </p>

            <h3>What will you learn?</h3>
            <ul>
                <li>Understanding the difference between symmetric encryption and asymmetric encryption.</li>
                <li>Learn about the most popular algorithms and how they work.</li>
                <li>How to protect passwords and sensitive files from hackers.</li>
            </ul>
        </section>


        <button class="buy">Buy new</button>
    </main>

</body>

</html>